.appliedFilters>p {
    color: #2c6ecb;
    margin: 5px 0 1.25rem 0;
}

.hr {
    background-color: #e1e3e5;
    height: 1px;
    margin-bottom: 1.25rem;
}

.filterSection {
    padding-bottom: 1.25rem;
}

.filterSection>p {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-dark-1);
}