.btn {
    padding: 0px 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--color-green-1);
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    font-family: 'SF Pro Display', sans-serif;
    border: none;
}
.btn:hover {
    background-color: #006C50;
    cursor: pointer;
}