.filter {
    font-family: 'ProductSans-Medium', sans-serif;
    width: 200px;
}

.filter>h4 {
    font-size: 28px;
    letter-spacing: -.8px;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .filter {
        display: none;
    }
}