.jobTags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 7px;
    gap: 7px;
}

.jobTags > div {
    border-right: 1px solid #d2d5d8;
    display: flex;
    align-items: center;
    padding-right: 7px;
    gap: 5px;
    font-size: 14px;
    color: rgb(48, 48, 48);
}
.jobTags > div:last-child {
    border: none;
}
.jobTags > div span {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
